# Auto detect text files and perform LF normalization
* text=auto

# Markdown
*.md text

# YAML
*.yml text
*.yaml text

# Python
*.py text

# Shell scripts
*.sh text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text
